extends layout

block content
  h1= title
  p Hello my friend,  #{title}
  form(action='#{messageURL}/store/message',method='post')
    input(type="text",name="message",placeholder="Enter a message",size="40")
    input(type='submit',name='submit',value='submit')
